<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role Selection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="role-selection-bg">
    <div class="container">
        <h1>Welcome to TP KOTA Restaurant</h1>
        <a href="{{ url_for('order_page') }}" class="btn">I am a Customer</a>
        <a href="{{ url_for('login') }}" class="btn">I am an Admin</a>
    </div>
</body>
</html>
